* {
  box-sizing: border-box;
  margin: 25;
  padding: 0;
  font-family: Helvetica;
  

}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
th, td {
  padding: 5px;
  text-align: left;
  width: 1000px;
}

.linking a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  
}

.linking {
  list-style: none;
  display: flex;
}

.linking li {
  padding: 0px 20px;
}

.linking li a {
  transition: all 0.3s ease 0s;
}

.linking li a:hover {
  color: #808080;
}


