<!DOCTYPE html>	
<html lang="en">
    <head>
	<title>BBANK</title>
	<!--<link rel="stylesheet" href="styles.css">-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesV3.css') }}">
	<meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
	</head>
	
	<style>
	.content {
	max-width: 500px;
	margin: auto;
	}
	</style>

  <body>
       <header>
            <a href="{{url_for('main', CustomerID = CustomerID)}}"><img src="{{ url_for('static', filename='BBOOK.png') }}" width="140" height=""/> </a>
            <nav>
                <ul class="linking">
					<li><a href="{{url_for('accounts', CustomerID = CustomerID)}}">View Accounts</a></li>
					<li><a href="{{url_for('transfer', CustomerID = CustomerID)}}">Transfer Fund</a></li>
					<li><a href="{{url_for('payment', CustomerID = CustomerID)}}">Pay Credit Cards</a></li>
					<li><a href="{{url_for('insights', CustomerID = CustomerID)}}">View Insights</a></li>
					<li><a href="{{url_for('recommendations', CustomerID = CustomerID)}}">View Recommendations</a></li>
				</ul>
            </nav>
        </header>


  </body>
</html>
