<!DOCTYPE html>
    <head>
	<title>BBANK</title>
	<!--<link rel="stylesheet" href="styles.css">-->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesV3.css') }}">
	</head>
	
	<style>
	.content {
	max-width: 500px;
	margin: auto;
	}
	</style>
	
<body>
       <header>
            <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='BBOOK.png') }}" width="140" height=""/> </a>
            <nav>
                <ul class="linking">
					<li><a href="{{url_for('registration')}}">View Accounts</a></li>
					<li><a href="{{url_for('registration')}}">Transfer Funds</a></li>
					<li><a href="{{url_for('registration')}}">Pay Credit Cards</a></li>
					<li><a href="{{url_for('registration')}}">View Insights</a></li>
					<li><a href="{{url_for('registration')}}">View Recommendations</a></li>
				</ul>
            </nav>
        </header>
		<header>
		<table>
			<tr>
				<th><b>Summary</b></th>
			</tr>
			<tr>
				<td>What you have
				<br>
				<a href="{{url_for('accounts')}}"><img src="{{ url_for('static', filename='savings.png') }}" width="75" height=""/></a>
				</td>
				<td><h3>SGD $ {{Deposit}}</h3></td>
			</tr>
			<tr>
				<td>What you owe
				<br>
				<a href="{{url_for('creditcards')}}"><img src="{{ url_for('static', filename='creditcard.png') }}" width="75" height=""/></a>
				</td>
				<td><h3>SGD $ {{Credit}}</h3></td>
			</tr>
		</header>
				
</body>
</html>